@use "sass:color";
@use '../../variables' as *;

.MuiDialog-paper {
  border-radius: 18px;
  box-shadow: 0 4px 32px 0 rgba($color-primary, 0.13);
  background: $color-background;
}

.MuiDialogTitle-root {
  font-weight: 700;
  color: $color-primary;
  letter-spacing: 0.5px;
  padding-bottom: 0.2em;
  text-align: center;
}

.MuiDialogContent-root {
  padding-top: 0.5em;
  padding-bottom: 1.5em;
}

.MuiDialogActions-root {
  padding: 1em 1.5em;
  gap: 1em;
}

.MuiFormControl-root {
  margin-bottom: 0;
  .MuiInputLabel-root {
    color: $color-tertiary;
    font-weight: 500;
  }
  .MuiInputBase-root {
    background: #fff;
    border-radius: 6px;
    padding-left: 0.5em;
  }
}

.MuiTextField-root {
  margin-bottom: 0;
  .MuiInputBase-root {
    background: #fff;
    border-radius: 6px;
    padding-left: 0.5em;
  }
}
.MuiChip-root {
  font-weight: 500;
  background: $color-primary;
  color: $color-background;
  border-radius: 6px;
  .MuiChip-deleteIcon {
    color: $color-background;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}

.MuiButton-contained {
  background: $color-primary;
  color: $color-background;
  font-weight: 600;
  border-radius: 6px;
  box-shadow: 0 2px 8px 0 rgba($color-primary, 0.10);
  &:hover, &:focus {
    background: color.scale($color-primary, $lightness: -8%);
    box-shadow: 0 4px 16px 0 rgba($color-primary, 0.18);
  }
}

.MuiButton-root {
  text-transform: none;
  font-size: 1rem;
  letter-spacing: 0.2px;
}