@use "sass:color";
@use '../../variables' as *;

.job-app-list {
  .MuiList-root {
    padding-top: 0;
    width: 100%;
    align-items: flex-start;
  }
}

.job-app-list-item {
  margin: 0 0 0.4rem 0;
  padding: 0;
  position: relative;
  min-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  width: auto;
  display: block;

  &:last-child {
    margin-bottom: 0;
  }

  &.active-job-app {
    background: rgba(32, 165, 166, 0.07);
  }

  .MuiCard-root {
    width: 100%;
    box-shadow: none;
    position: relative;
  }

  .MuiCardContent-root {
    padding: 0.8rem 1rem;

    &:last-child {
      padding-bottom: 0.8rem;
    }
  }
}

.job-title {
  font-family: var(--font-family);
}

.job-status-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.job-status-chip {
  font-family: var(--font-family);
  font-weight: 500;
  color: #fff !important;
  min-width: 56px;
  height: 22px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 0.80rem;
  letter-spacing: 0.1em;
  box-shadow: 0 1px 2px 0 rgba(32, 165, 166, 0.08);
  white-space: nowrap;
}

.job-app-list-item-content {
  position: relative;
  display: flex;
  align-items: stretch;
  background: transparent !important;
  width: 100%;
}

.job-app-active-indicator {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 6px;
  border-radius: 6px 0 0 6px;
  background: $color-primary;
  //box-shadow: 0 0 6px 0 rgba(32, 165, 166, 0.18);
  z-index: 2;
}
.job-app-active-indicator.left {
  left: 0;
  right: auto;
  border-radius: 6px 0 0 6px;
}
