@use './variables' as *;

:root {
  font-family: $font-family;
  line-height: 1.5;
  font-weight: 400;

  --color-primary:  #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-tertiary: #{$color-tertiary};
  --color-background: #{$color-background};
  --color-text: #{$color-text};
  --font-family: #{$font-family};

  color-scheme: light;
  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  font-family: $font-family;
}