@use './variables' as *;

:root {
  font-family: $font-family;
  line-height: 1.5;
  font-weight: 400;

  --color-primary:  #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-tertiary: #{$color-tertiary};
  --color-error: #{$color-error};
  --color-success: #{$color-success};
  --color-background: #{$color-background};
  --color-background-gradient: #{$color-background-gradient};
  --color-text: #{$color-text};
  --color-text-light: #{$color-text-light};
  --font-family: #{$font-family};

  color-scheme: light;
  color: $color-text;
  background: $color-background;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: $font-family;
  background: $color-background;
  color: $color-text;
}