@use "../../variables" as *;

.app-bar {
  background: $color-background-gradient !important;
  width: 100%;
  left: 0;
  right: 0;
  box-shadow: $shadow-primary;
}

.app-title {
  margin-right: 1rem !important;
  font-family: $font-family !important;
  font-weight: 700;
  letter-spacing: 0.2rem !important;
  color: inherit;
  text-decoration: none;
}

.nav-button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-family: $font-family !important;
  color: $color-text-white !important;
  display: block;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: $color-text-white !important;
  }
}

.auth-button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-family: $font-family !important;
  color: $color-text-white !important;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.demo-banner {
  width: 100%;
  background-color: #17a2b8;
  color: black;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.app-bar .nav-button.MuiButton-text {
  color: $color-text-white !important;
}
